window {
    margin: 0px;
    border: 1px solid #414868;
    border-radius: 20px;
    background-color: #24283b;
    font-family: "LXGW WenKai Mono Screen", "JetBrainsMono Nerd Font";
    font-size: 12px;
}

#input {
    margin: 5px;
    border: 1px solid #24283b;
    border-radius: 20px;
    color: #c0caf5;
    background-color: #24283b;
}

#input image {
    color: #c0caf5;
}

#inner-box {
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: #24283b;
}

#outer-box {
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: #24283b;
}

#scroll {
    margin: 0px;
    border: none;
    border-radius: 20px;
}

#text {
    margin: 5px;
    border: none;
    border-radius: 20px;
    color: #c0caf5;
} 

#entry:selected {
    background-color: #414868;
    font-weight: bold;
}

#text:selected {
    background-color: #414868;
    font-weight: bold;
}
